body {
    color: #ccffcc
}

.jumbotron {
    background-image: url("../Static/background.jpg");
    background-size: 100% 100%;
    text-align: center;
}

#Box1 {
    background-color: #808080;
}

#sample-metadata {
    background-color: #808080;
}

#selDataset {
    background-color: #808080;
}
